.wrapper {
  display: flex;
  align-items: baseline;
  gap: 8px;

  .input-value {
    display: flex;
    flex-direction: column;
    gap: 2px;

    span {
      color: #f00;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
