<div class="select-currency">
  <div class="select-currency__value">
    <div class="select-currency__label">Amount</div>
    <div class="select-currency__input">
      <p-inputNumber mode="decimal" locale="pt-BR" [minFractionDigits]="2" [maxFractionDigits]="2">
      </p-inputNumber>
    </div>
  </div>
  <div class="select-currency__options">
    <p-dropdown
      [options]="countries"
      [(ngModel)]="selectedCountry"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      placeholder="Select a Country">
      <ng-template pTemplate="selectedItem">
        <div class="selectedItem__info" *ngIf="selectedCountry">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
            style="width: 18px"
            alt="" />
          <div>{{ selectedCountry.name }}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="selectedItem__info">
          <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + country.code.toLowerCase()"
            style="width: 18px"
            alt="" />
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
