:host {
  display: block;
  width: 100%;
}

.select-currency {
  display: flex;
  padding: 0 16px;
  border: 1px solid #c6c6c6;
  border-radius: 4px;

  &__value {
    flex: 1;
    padding: 16px 0;
  }

  &__label {
    color: #1a1a1a;
  }

  &__input {
    p-inputnumber::ng-deep {
      display: block;
      width: 100%;

      .p-inputnumber {
        display: block;
        width: 100%;
      }

      .p-inputtext {
        display: block;
        width: calc(100% - 16px);
        padding: 0;
        border: 0;
        border-radius: 0;
        background: transparent;
        color: #1a1a1a;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;

        &:enabled {
          &:focus,
          &:hover {
            border: 0;
            box-shadow: none;
          }
        }
      }
    }
  }

  &__options {
    display: flex;
    align-items: center;

    p-dropdown::ng-deep {
      .selectedItem__info {
        display: flex;
        gap: 4px;

        span {
          color: #1a1a1a;
          font-family: Roboto;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .p-dropdown {
        border: 0;
        box-shadow: none;
      }

      .p-dropdown-trigger-icon {
        color: #000;
      }
    }
  }
}
