<div class="select-currency">
  <div class="select-currency__value">
    <div class="select-currency__label">{{ label }}</div>
    <div class="select-currency__input">
      <p-inputNumber
        [min]="0"
        [formControl]="control"
        (onInput)="onInput($event)"
        mode="decimal"
        locale="pt-BR"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        [placeholder]="placeholder">
      </p-inputNumber>
    </div>
  </div>
  <div class="select-currency__options">
    <p-dropdown
      [options]="currencies"
      [(ngModel)]="selectedCurrency"
      (onChange)="onChangeCurrency($event)"
      [filter]="true"
      filterBy="name"
      placeholder="Select a Currency">
      <ng-template pTemplate="selectedItem">
        <div class="selectedItem__info" *ngIf="selectedCurrency">
          <img
            src="https://placehold.co/44x30?text={{ selectedCurrency.code }}&font=roboto"
            style="width: 18px"
            [alt]="selectedCurrency.name" />
          <span>{{ selectedCurrency.code }}</span>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="selectedItem__info">
          <img
            src="https://placehold.co/44x30?text={{ country.code }}&font=roboto"
            style="width: 18px"
            [alt]="country.name" />
          <span>{{ country.code }} - {{ country.name }}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
